body {
  background: #272F38;
  min-height: 100%;
  min-width: 100%;
}

.body-container {
  margin-top: 150px;
}

.logo {
  height: 70px;
  width: auto;
}

.profile-pic {
  border-radius: 50px;
}

.card-top {
  border-radius: .25rem .25rem 0 0;
  padding: 40px 0;
}

.pp-container {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 1px 21px 60px -5px rgba(0,0,0,0.75);
  margin: 0 auto;
}

.pp-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 50px;
  left: 12px;
  opacity: 0;
}

.overlay-img {
  height: 15px;
  width: auto;
  transform: rotate(20deg);
}

.card-footer {
  background: #D5DCEB;
  border: none;
  border-radius: 0 0 .25rem .25rem;
}

.hidden-container {
  text-align: right;
}

.secret-link {
  text-decoration: none;
  color: #D5DCEB;
}

.secret-link:hover {
  text-decoration: none;
  color: #000;
}

.custom-container {
  text-align: center;
  padding: 10px 0;
}

.back-button {
  text-decoration: none;
  color: #FFF;
}

.back-button:hover {
  text-decoration: underline;
}

#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  height: 60%;
}

#heading {
  text-align: center;
  color: #FFF;
}

/* bootstrap overrides */
.navbar {
  z-index: 999;
}

.nav-link {
  color: #ECEFF1;
  font-size: 2em;
}

.nav-link:hover {
  color: #607D8B;
}

.card {
  border: none;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  z-index: 999;
}

.card-body {
  background: #D5DCEB;
  padding: 50px 0;
  height: 175px;
}

#canvas {
  position: absolute;
  top: 0;
  right: 0;
}